node_modules/
venv/
venv3/
*.pyc
.DS_Store
.env*
db.sqlite3
/static/
/media/
.idea/
dev/
.vscode/
.python*
*.gz
output*
logs/
.ipynb_checkpoints
yas.zip
*.dmg
*.sql
.sourceenv
weights.best.basic_cnn.hdf5
extras/notebooks/data/*
geoip/
data/
bower_components/
__pycache__/
*.pem
hosts