[Unit]
Description=gunicorn service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory={{ project_path }}
ExecStart={{ virtual_env }}/bin/gunicorn smartrelay.wsgi --access-logfile - --workers 2 --bind localhost:8000
[Install]
WantedBy=multi-user.target